version: '{build}'
pull_requests:
  do_not_increment_build_number: true
skip_tags: true
image: Visual Studio 2017
configuration:
  - Debug
platform:
  - x86
build:
  project: tpm2-tss.sln
  parallel: true
  verbosity: normal
