*.o
.deps/
.dirstamp
aclocal.m4
autom4te.cache/
compile
configure
config.log
config.status
depcomp
install-sh
Makefile
Makefile.in
missing
resourcemgr/lib/
resourcemgr/resourcemgr
sysapi/libtpm.a
sysapi/Makefile.in
test/tpmclient/lib/
test/tpmclient/tpmclient
