*.a
*.la
*.lo
*.log
*.o
*.opensdf
*.pc
*.pdb
*.sdf
*.suo
*.ses
*.tag
*.trs
*vcxproj.user
.deps/
.dirstamp
.libs
aclocal.m4
autom4te.cache/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
compile
configure
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.in
missing
src_vars.mk
resourcemgr/resourcemgr
test/integration/get-random
test/integration/self-test
test/tpmclient/tpmclient
.klocwork/
ipch/
test/tpmtest/tpmtest
test-driver
test-suite.log
test/*_unit
# ignore all files in test/unit without a file extension
test/unit/*
test/unit/!*.*
