*.a
*.la
*.lo
*.log
*.o
*.opensdf
*.pc
*.pdb
*.sdf
*.suo
*.ses
*.tag
*.trs
*vcxproj.user
.deps/
.dirstamp
.libs
*~
.*.swp
.*.swo
*.patch
AUTHORS
tags
aclocal.m4
autom4te.cache/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
compile
configure
config.guess
config.log
config.status
config.sub
depcomp
install-sh
libtool
ltmain.sh
m4/libtool*
m4/lt*.m4
man/man[0-9]/*
Makefile
Makefile.in
missing
NVChip
src_vars.mk
resourcemgr/resourcemgr
test/integration/*
!test/integration/*.[ch]
test/integration/get-random
test/integration/self-test
test/integration/pcr-extension
test/integration/asymmetric-encrypt-decrypt
test/tpmclient/*
test/tpmclient/!*.*
.klocwork/
ipch/
test/tpmtest/tpmtest
test-driver
test-suite.log
test/ibmtpm*
*.indentlog
indent.log
# ignore all files in test/unit without a file extension
test/unit/*
test/unit/!*.*
