language: cpp
compiler:
  - gcc
  - clang

# This is a lie: we don't need sudo but this is required to get an
# Ubuntu image with a libc that isn't ancient, and with cmocka libs.
sudo: required
dist: trusty

env:
  global:
  - secure: "isEwSgRODxm9JPZAhQUXP0yqPZmrD0PncBmi/y02RT0oq6Aewdag5f7CzrsJoPsaEsFcJJapIzdZLw1KXHkeAIHNhOtSE4y9tZGFBfB35pFIb0a/Im47djYrVlBXs7Ii/PllzW4xRMmhU16phwsU2N1nFyvfo9qma8R4ComL7GXTn4UqTjADg73YfPKr2NMt/6nilLKNLGE8FhjmPKhnlrBmKgCUU9BAyJ8cOR529bLOp4Wo5pGhopCHUKrYqRErISiFNcCRxjVyUEPUjMVT7/1QPGyAS2bpJa0rc2QYH9w+H0GkzliuGjzEUPaWcpDKjTimEym7F1XfmZxe1RPMH70KGsdlqe4UyWnWzsHDKnU/oCngKecx0g1beFSn/Mwfv58uDHZlegUZrstHDdkP4RZJEWyGkYDzuBCJ2UGAKJGnig/CE4w9fXFhCIltOW7/55KB53wwTec7bCXpoWV2LtC9L8TtdmmdwsBa4NHpZuLxAr3zlKt8O72mlVuo8C6iqwXCL32sahf4KGWNgc/X5GirbvsWvokGchB1p3vgwQdb/NZXKM77r7gMbnGhIOGzEmrCB3olaG+3RtF2+5KID/Z1LZHIlXDtrCa8dAmMvBIFvjFe9/L9T75d8GwiaOg2wEfNTb8bAsPsBdyKiYvWpKMIXJEcCTGKOpC9Nr0/+uk="
  # run coverity scan on gcc build to keep from DOSing coverity
  - coverity_scan_run_condition='"$CC" = gcc'

addons:
  apt:
    packages:
    - autoconf-archive
    - libcmocka0
    - libcmocka-dev
  coverity_scan:
    project:
      name: "01org/TPM2.0-TSS"
      description: Build submitted via Travis-CI
    notification_email: philip.b.tricca@intel.com
    build_command_prepend: "./configure; make clean"
    build_command: "make --jobs=$(($(nproc)*2))"
    branch_pattern: coverity_scan

install:
  - wget https://downloads.sourceforge.net/project/ibmswtpm2/ibmtpm532.tar
  - sha256sum ibmtpm532.tar | grep -q ^abc0b420257917ccb42a9750588565d5e84a2b4e99a6f9f46c3dad1f9912864f
  - mkdir ibmtpm532
  - tar axf ibmtpm532.tar -C ibmtpm532
  - make -C ibmtpm532/src -j$(nproc)

before_script:
  - ./bootstrap

script:
  - mkdir ./build
  - pushd ./build
  - ../configure --enable-unit --with-simulatorbin=$(pwd)/../ibmtpm532/src/tpm_server
  - make -j$(nproc)
  - make -j$(nproc) check
  - |
    for LOG in $(ls -1 test/unit/*.log); do
        echo "${LOG}"
        cat ${LOG}
    done
  - |
    for LOG in $(ls -1 test/integration/*.log); do
        echo "${LOG}"
        cat ${LOG}
    done
  - cat test/tpmclient/tpmclient.log
